# Ignore node_modules
**node_modules/

# Ignore build output
build

# Ignore the cdk.context.json because I don't want to check those values into source control
aws/cdk.context.json

# Ignore the .log files
**.log